*.o
/perl/Makefile
/cansam
/bin/pindel
/bin/filter_pindel_reads
/perl/blib
/perl/docs
/perl/pm_to_blib
/MANIFEST.bak
/install_tmp
/setup.log
/nytprof.out
/nytprof
/perl/bin/filter_pindel_reads
/perl/bin/pindel
/LICENCE.TXT
/README.TXT
/licence_head.txt
